---
import Angular from "../icons/Angular.astro"
import Bootstrap from "../icons/Bootstrap.astro"
import CSSIcon from "../icons/CSSIcon.astro"
import HTML from "../icons/HTML.astro"
import Java from "../icons/Java.astro"
import JavaScript from "../icons/JavaScript.astro"
import MongoDB from "../icons/MongoDB.astro"
import Nextjs from "../icons/Nextjs.astro"
import NodeJs from "../icons/NodeJs.astro"
import React from "../icons/React.astro"
import Tailwind from "../icons/Tailwind.astro"
import TypeScript from "../icons/TypeScript.astro"

    const TAGS = {
        ANGULAR: {
            name: 'Angular',
            class: 'bg-white',
            icon: Angular
        },
        HTML: {
            name: 'HTML',
            class: 'bg-white',
            icon: HTML
        },
        CSS: {
            name: 'CSS',
            class: 'bg-white',
            icon: CSSIcon
        }
        ,
        TAILWIND: {
            name: 'Tailwind CSS',
            class: 'bg-white',
            icon: Tailwind
        },
        JAVA: {
            name: 'Java',
            class: 'bg-white',
            icon: Java
        },
        JAVASCRIPT: {
            name: 'JavaScript',
            class: 'bg-white',
            icon: JavaScript
        },
        BOOTSTRAP: {
            name: 'Bootstrap',
            class: 'bg-white',
            icon: Bootstrap
        },
        NODEJS: {
            name: 'NodeJs',
            class: 'bg-white',
            icon: NodeJs
        },
        MONGODB: {
            name: 'MongoDB',
            class: 'bg-white',
            icon: MongoDB
        },
        TYPESCRIPT: {
            name: 'TypeScript',
            class: 'bg-white',
            icon: TypeScript
        },
        NEXT: {
            name: 'Next.js',
            class: 'bg-white',
            icon: Nextjs
        },
        REACT: {
            name: 'React',
            class: 'bg-white',
            icon: React
        }
    }
    const PROJECTS = [
        {
            title: 'NeoIrr',
            description: 'A web application for health device control, It is a web API designed to interact with a device that has two sensors: one for linear positioning and another that measures the level of irradiance in the blue spectrum of light.',
            link: '#',
            github: '#',
            image: '/projects/neoirr.png',
            tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.REACT, TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.BOOTSTRAP, TAGS.TAILWIND]
        },
        {
            title: 'QRonos Attendance Control System',
            description: 'Project made in Angular CLI 16.1.6 to control attendance with QR.',
            link: '#',
            github: '#',
            image: '/projects/chrono.png',
            tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.ANGULAR, TAGS.NODEJS, TAGS.TYPESCRIPT, TAGS.MONGODB, TAGS.BOOTSTRAP, TAGS.TAILWIND]
        },
        {
            title: 'Livestock Control System',
            description: 'Livestock control system for "La Hacienda" farm. MEAN stack project. CRUD.',
            link: '#',
            github: '#',
            image: '/projects/live.png',
            tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.ANGULAR, TAGS.NODEJS, TAGS.TYPESCRIPT, TAGS.MONGODB, TAGS.BOOTSTRAP, TAGS.TAILWIND]
        },
        {
            title: 'JavaChess - A chess made in java',
            description: 'Project made in Angular CLI 16.1.6 to control attendance with QR.',
            link: '#',
            github: '#',
            image: '/projects/chess.png',
            tags: [TAGS.JAVA]
        }
    ]
---

{
    (PROJECTS.map(({title, description, tags, image}) => (

        <article class="mb-14">
            <h3 class="text-2xl font-semibold mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row flex-wrap">
                {tags.map(tag => (
                    <li class="mt-2 mb-2">
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4"/>
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img src={image} alt={`Screenshot of the project: ${title}`} class="rounded shadow-2xl shadow-black"/>
        </article>
    )) )
    
}